button  {
	padding: 10px 20px;
}

.fundo-especial {
	background-color: rgb(128, 128, 128) !important;
}

#lista-tarefas li {
	background-color: white;
}

.completed {
	text-decoration: line-through solid rgb(0, 0, 0);
}